<nav class="navigation">
  <ul class="navigation__list">
    <% if (menuLinks.length > 0) { %> <% menuLinks.forEach(link => { %>
    <li class="navigation__item">
      <a
        class="navigation__link <%= activeLinkPath === link.path ? 'navigation__link--active' : '' %>"
        href="<%= link.path %>"
      >
        <%= link.label %>
      </a>
    </li>
    <% }); %> <% } %>
  </ul>
</nav>
