<h1>Add Product</h1>
<form action="/products/add" method="POST">
  <label>
    <input type="text" name="name" placeholder="Name" required />
  </label>
  <label>
    <textarea name="description" placeholder="Description"></textarea>
  </label>
  <button type="submit">Add</button>
</form>
