var description = require("../models/Product").description;
var name = require("../models/Product").name;
<h1>Last Added Product</h1>
<% if (product) { %>
  <h2><%= name %></h2>
  <p><%= description %></p>
<% } else { %>
  <p>No product added yet.</p>
<% } %>
