<h1>Products List</h1>
<ul>
  <% products.forEach(product => { %>
    <li>
      <%= product.name %>
      <a href="/products/<%= product.name %>">Details</a>
      <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
    </li>
  <% }) %>
</ul>

<script>
  function deleteProduct(name) {
    fetch(`/products/${name}`, {
      method: 'DELETE'
    })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                location.reload();
              }
            });
  }
</script>
