<html>
  <head>
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
      activeLinkPath }); %>
      <h1 class="heading">Products</h1>
      <% if (products?.length > 0) { %>
      <ul>
        <% products.forEach(product => { %>
        <li>
          Name: <%= product.name %>, Description: <%= product.description %>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <br />
      <div>No products available.</div>
      <% }%>
    </main>
  </body>
  <script>
    function deleteProduct(name) {
      if (!confirm(`Are you sure you want to remove ${name}?`)) {
        return;
      }

      fetch(`/products/${name}`, {
        method: "DELETE",
      }).then((response) => {
        console.log(response);
        if (response.ok) {
          window.location.reload();
        } else {
          alert("Error while removing product.");
        }
      });
    }
  </script>
</html>
